@model App.Models.ElectricalEquipment
@using App.Menu
@using App.ExtendMethods

@inject SideBarService _sidebarService

@{
    ViewData["Title"] = "Xóa thiết bị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WashingVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WashingVolume) kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cateElecEquipments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cateElecEquipments.CateElecEquipName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-danger btn-sm" type="submit" value="Xóa thiết bị" /> |
        <a class="btn btn-primary btn-sm" asp-action="Index">Trở lại</a>
    </form>
</div>

@{
    _sidebarService.setActive("Ingredient", "ElecEquipment", "Index");
}

@section SideBar{
    @Html.Raw(_sidebarService.RenderHtml())
}