@model App.Models.Orders.Order
@using App.ExtendMethods

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeOrderClothes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolumeOrderClothes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOrder)
        </dt>
        <dd class = "col-sm-10">
           @Html.Raw(Model.StateOrder.StateToVNs())
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ViewOrder">Back to List</a>
</div>
