@using App.Menu
@using App.ExtendMethods
@model IEnumerable<App.Models.Orders.Order>

@inject SideBarService _sidebarService

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 mt-2 text-gray-800 text-center">Bảng thống kê đơn hàng</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h2 class="nav-link m-0 font-weight-bold text-primary" href="#">Danh sách thống kê</h2>
                        </li>
                    </ul>
                    <ul class="navbar-nav pl-5">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle m-0 font-weight-bold btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lọc theo
                            </a>
                            <div class="dropdown-menu dropdown-menu-fixed-height" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-route-filter="StatisticDay" asp-action="StatisticOrder">Ngày</a>
                                <a class="dropdown-item" asp-route-filter="StatisticMonth" asp-action="StatisticOrder">Tháng</a>
                                <a class="dropdown-item" asp-route-filter="StatisticYear" asp-action="StatisticOrder">Năm</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.ServiceName)</th>
                            <th>@Html.DisplayNameFor(model => model.VolumeOrderClothes)</th>
                            <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
                        </tr>
                    </thead>
                    <tfoot>
                        @*<tr>
                            <th>Tổng giá trị</th>
                            <th></th>
                        </tr>*@
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@Html.DisplayFor(model => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(model => item.ServiceName)</td>
                                <td>@Html.DisplayFor(model => item.VolumeOrderClothes)</td>
                                <td>@item.TotalPrice.ToPriceUnit()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div>
    <nav style="justify-content:center">
        <partial name="_Paging" model="@ViewBag.pagingModel" />
    </nav>
</div>


@{
    _sidebarService.setActive("StatisticReport", "Statistic", "StatisticOrder");
}

@section SideBar{
    @Html.Raw(_sidebarService.RenderHtml())
}